@model MissionsControl.ViewModels.MissionFullDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MissionFullDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentXWaypoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentXWaypoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentYWaypoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentYWaypoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetXWaypoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetXWaypoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetYWaypoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetYWaypoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distans)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
